//start global varibales
$light: #f5f9fa;
$dark: #1e1e1e;
$main-color: #0f75bd;
$secondary-color: #ffcc00;
//end global varibales
.landing-products {
  h1 {
    .special {
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 90%;
        height: 15px;
        z-index: -1;
        background-color: $secondary-color;
      }
    }
  }
  .boxs {
    position: relative;
    z-index: 2;
    p {
      text-transform: capitalize;
    }
    .notifications-container {
      width: 320px;
      height: 200px;
      font-size: 0.875rem;
      line-height: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .flex {
      display: flex;
    }

    .flex-shrink-0 {
      flex-shrink: 0;
    }

    .success {
      padding: 1rem;
      border-radius: 0.375rem;
      background-color: $light;
    }

    .succes-svg {
      color: rgb(74 222 128);
      width: 1.25rem;
      height: 1.25rem;
    }

    .success-prompt-wrap {
      margin-left: 0.75rem;
    }

    .success-prompt-heading {
      font-weight: bold;
      color: rgb(22 101 52);
    }

    .success-prompt-prompt {
      margin-top: 0.5rem;
      color: rgb(21 128 61);
    }

    .success-button-container {
      display: flex;
      margin-top: 0.875rem;
      margin-bottom: -0.375rem;
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }

    .success-button-main {
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background-color: #ecfdf5;
      color: rgb(22 101 52);
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: bold;
      border-radius: 0.375rem;
      border: none;
    }

    .success-button-main:hover {
      background-color: #d1fae5;
    }

    .success-button-secondary {
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-left: 0.75rem;
      background-color: #ecfdf5;
      color: #065f46;
      font-size: 0.875rem;
      line-height: 1.25rem;
      border-radius: 0.375rem;
      border: none;
    }
  }
  .content {
    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-size: 15px;
    }

    button.learn-more {
      color: $light;
      text-transform: uppercase;
      font-weight: 700;
      padding: 1.25em 2em;
      background: $main-color;
      border: 2px solid $secondary-color;
      border-radius: 0.75em;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1),
        -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        background 150ms cubic-bezier(0, 0, 0.58, 1),
        -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    button.learn-more::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $secondary-color;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #fdda50, 0 0.625em 0 0 #ffe57c;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }

    button.learn-more:hover {
      transform: translate(0, 0.25em);
    }

    button.learn-more:hover::before {
      transform: translate3d(0, 0.5em, -1em);
    }

    button.learn-more:active {
      transform: translate(0em, 0.75em);
    }

    button.learn-more:active::before {
      transform: translate3d(0, 0, -1em);
    }
  }
}
