//start global varibales
$secondary-color: #ffcc00;
//end global varibales
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: $secondary-color;
  z-index: 9999;
  transition: width 0.5s linear;
}
