//start global varibales
$dark: #1e1e1e;
$secondary-color: #ffcc00;
//end global varibales
.testimonials {
  h1 {
    .special {
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 90%;
        height: 15px;
        z-index: -1;
        background-color: $secondary-color;
      }
    }
  }
  .boxs {
    position: relative;
    z-index: 1;
    .box {
      box-shadow: 4px 4px $dark;
    }
  }
}
