//start global varibales
$light: #fff;
$dark: #101010;
$main-color: #0c76c1;
$secondary-color: #ffcb01;
//end global varibales
.error {
  button {
    background-color: $main-color;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: $dark;
    @media screen and (max-width: 768px) {
      margin: 1rem;
    }
  }
}
